body {
  font-family: sans-serif, Arial;
  padding: 0;
  margin: 0;
}

.parent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.child {
  width: 200px;
  margin: 0 auto;
  flex: 1;
}

footer {
  font-size: 14;
  color: rgb(180, 180, 180);
}

footer a {
  color: rgb(180, 180, 180);
}

button {
  margin: 0;
  width: 100%;
  text-align:center;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  color: white;
  border-radius: 3px;
  border: none;
  background-color: rgb(0, 128, 255);
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}

#qr {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-bottom: 5px;
}

input[type=text], input[type=number] {
  width: 100%;
  line-height: 30px;
  padding: 5px;
  margin-bottom: 10px;
}

::placeholder {
  color: grey; 
} 
